

#sidebar-a .content p {
  margin-top: 5px;
}

#sidebar-b .block {
  padding-bottom: 0px;
  margin-top: 17px;
  border-bottom-width: 0px;
}

#sidebar-a .block {
  padding-bottom: 0px;
  border-bottom-width: 0px;
  margin-top: 30px;
}

#main .view-frontpage .field-content a {
  font-size: 36px;
  font-weight: bold;
  text-transform: none;
  letter-spacing: 0px;
  line-height: 90%;
  padding-bottom: 0px;
}

#sidebar-a .content h2 {
  margin-top: 6px;
}

#prefooter-third-region .content p {
  padding-left: 35px;
  line-height: 138%;
}

#preheader-first-region .region-preheader-first {
  line-height: 150%;
}

#preheader-first-region .block {
  margin-top: 0px;
}

#preheader-first-region .content p {
  line-height: 90%;
}

#main .view-frontpage .field-content img {
  padding-bottom: 7px;
  border-top-width: 0px;
  border-style: dotted;
}

#breadcrumb {
  padding-top: 10px;
}

#sidebar-a h3 strong {
  text-transform: none;
  font-size: 20px;
}

#main .view-frontpage .views-row .views-field {
  padding-bottom: 6px;
}

#content-inner .box {
  background-repeat: repeat;
}

#sidebar-a p strong {
  font-size: 13px;
}

#sidebar-b {
  padding-right: 51px;
  padding-left: 1px;
}

#main .view-frontpage .field-content p {
  border-bottom-width: 0px;
  border-style: dotted;
  padding-bottom: 0px;
  margin-top: 1px;
  font-size: 13px;
}

#main .view-frontpage .views-field .field-content {
  border-bottom-width: 0px;
  border-style: dotted;
  margin-top: 0px;
  padding-bottom: 3px;
  font-size: 11px;
}

#sidebar-a {
  margin-left: 14px;
  padding-left: 9px;
}

#preheader-first-region tr td {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-top-width: 26px;
}

#preheader-first-region #rotating-banner-11 .rb-slides {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

#header {
  line-height: 90%;
  padding-top: 0px;
  letter-spacing: normal;
}

#page {
  line-height: 138%;
  padding-bottom: 0px;
  border-right-width: 0px;
  border-style: solid;
  background-image: none;
  background-repeat: repeat;
}

#preheader .box {
  line-height: 90%;
  padding-right: 0px;
  padding-left: 0px;
}

#navigation-region li a {
  line-height: 104%;
  padding-top: 8px;
  padding-right: 14px;
  padding-left: 14px;
  letter-spacing: 0.6px;
}

#content-inner {
  border-top-width: 0px;
  padding-top: 0px;
}

#main h2 a {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
}

#preheader-first-region a img {
  border-left-width: 0px;
  border-style: solid;
  border-right-width: 0px;
}

#preheader {
  border-bottom-width: 0px;
  padding-bottom: 0px;
}

body {
  margin-bottom: 99px;
  padding-top: 0px;
}

#preheader-first-region .content table {
  border-top-width: 0px;
  border-bottom-width: 0px;
}

#navigation {
  margin-top: 5px;
}

.page-width .lining {
  padding-bottom: 7px;
}

#copyright .content {
  padding-top: 1px;
  border-top-width: 0px;
  border-style: solid;
}

#sidebar-a h2 {
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
  margin-top: 6px;
}

#prefooter-first-region .content p {
  padding-bottom: 9px;
}

#content {
  padding-bottom: 28px;
}

#prefooter {
  padding-top: 0px;
}

#footer {
  border-top-width: 0px;
  padding-bottom: 8px;
  margin-top: 27px;
}

#copyright .page-width {
  padding-top: 10px;
  margin-bottom: 0px;
  border-top-width: 1px;
}

#navigation-region .content ul {
  font-size: 12px;
  text-transform: uppercase;
  border-top-width: 1px;
  border-style: solid;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 1px;
  line-height: 150%;
  letter-spacing: 0px;
}

