.toggle_menu {
    width: 30px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

.toggle_menu div {
    width: 100%;
    background: #545454;
    height: 4px;
    margin: 4px 0px;
    border-radius: 0;
}

.meny{
    display: none;
    font-size: 11.5px;
    position: relative;
    left: 2px;
    top: 4px;
    text-align:left;
}

.mobile-logo1 {
    display:none;
}


@media only screen and (max-width :1200px) {

img { max-width:100% !important; height:auto !important; }
#main h2 a{font-size: 18px;line-height: 24px;}
.page-width {width: 90% !important;margin: auto;}

.content table { width:100% !important; }

.col-c, .col-a, .col-b {height:auto !important; padding:0 !important; 
 min-height:initial !important; }

#main .view-frontpage .field-content a {
    font-size: 20px;}

#navigation-region li a {
    padding-right: 12px;
    padding-left: 12px;
}

h1{font-size:1.5em;}

#main.col-c.tb-height-balance.tb-region.tb-scope.tb-primary{
    min-height: initial;
}

#sidebar-a.col-a.sidebar.right.tb-height-balance.tb-region.tb-scope.tb-sidebar.tb-right{
    min-height: initial;
}

#sidebar-b.col-b.sidebar.right.tb-height-balance.tb-region.tb-scope.tb-sidebar.tb-right.replaced{
    min-height: initial;
}

}

@media only screen and (max-width :992px) {
/*.block.block-system {
    text-align: center;
}
.sidebar .block {
    text-align: center;
}*/
.sidebar {
    width: 100%;
    float: none !important;
    margin-left:0px !important;
}

#block-search-form {
    clear: both;
    width: 100% !important;
    display: block !important;
    height: auto !important;
    border: none !important;
}

#sidebar-b .block {
    width: 30.5%;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0px;
    position: relative;
    height: 360px;
    border: 1px solid #ccc;
    padding: 5px;
}

#sidebar-b .block .middle.tb-terminal {
    position: absolute;
    top: 50%;
    transform: translate(-1%,-50%);
    -moz-transform: translate(-1%,-50%);
    -ms-transform: translate(-1%,-50%);
    -webkit-transform: translate(-1%,-50%);
    -o-transform: translate(-1%,-50%);
}

.middle.tb-terminal table {
    height: auto !important;
}

.stack .box {
    padding-left: 0;
    padding-right: 0;
    width: auto;
}

#navigation-region li a {
    padding-right: 7px;
    padding-left: 7px;
    font-size: 12px;
}


}

@media only screen and (max-width :767px) {
.toggle_menu {
    display: block;
}

#navigation {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.mobile-logo {
    width: 200px;
}

.menu {
    display: none;
    border:0px !important;
    clear: both;
}

#block-rotating-banner-11, #block-block-41 {
    display: none;
}

.middle.tb-terminal {
    margin-top: 15px;
}

.mobile-logo1 {
    float: left;
    text-align: center;
    width: 85%;
    display:block;
}

.mobile-menu {
    float: right;
}

.menu li a:hover {
    background-color: transparent !important;
}

.menu li {
    float: none !important;
    border-bottom: 1px solid #ccc;
}

.menu li a {
    padding-left: 0px !important;
}

.menu li:last-child {
     border-bottom: none;
}

#edit-search-block-form--2 {
    width: 150px;
    margin-top: 0px !important;
    height: 18px;
}
#block-search-form .middle{
    position: relative !important;
}

.webform-client-form input {
    max-width: none;
    width: 95% !important;
}

/*#navigation-region .content{
    border-top: 1px solid #ccc;
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
}*/

#search-block-form .container-inline{
    width: 225px;
    margin: auto;
}

#sidebar-b {
    text-align: center;
}
#block-block-451 .tb-terminal table{border-top: 1px solid #CCCCCC;}
#block-block-451 .tb-terminal table tr td{    display: inline-block;    border-top: 0;}

}

@media only screen and (max-width :600px) {

#sidebar-b .block {
    width: 100%;
    display:block;
    height: auto;
    padding: 0px;
    border: none;
}

#sidebar-b .block .middle.tb-terminal {
    position: relative;
    top: 0px;
    transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0));
    -o-transform: translate(0);

}
 
}